<title>Inbox</title>
{% extends "django_messages/base_messages.html" %} 
{% load i18n %} 
{% load url from future %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
<h1>{% trans "Inbox" %}<a href="/"> <img src="{{ request.user.profile.profile_image_url }}"/></a></h1>

{% if message_list %} 
<body>

<div id="inbox_container">
<table class="messages">
    <thead>
        <tr><th>{% trans "Sender" %}</th><td></td><td></td><th>{% trans "Subject" %}</th><td></td><td></td><th>{% trans "Received" %}</th><td></td><td></td><th>{% trans "Action" %}</th></tr><tr></tr><tr></tr><tr></tr>
    </thead>
    <tbody>


{% for message in message_list %} 

    <tr>
        <td>{{ message.sender }}</td><td></td><td></td>
        <td>
            {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
            {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}</td><td></td><td></td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td><td></td><td></td>
        <td><a id="delete_button" href="{% url 'messages_delete' message.id %}">{% trans "delete" %} </a> </td>
    </tr>
<tr></tr><tr></tr><tr></tr>
{% endfor %}


    </tbody>
</table>
{% else %}
<h3>{% trans "No messages." %}</h3>

</div>
{% endif %}


</body>  
{% endblock %}

